body{
    background-color: rgb(243, 232, 232);
    font-family: Arial;
}
.container{
    display: flex;
    color: azure;
    background-color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.secondcontainer{
    display: flex;
    background-color: #023361;
    flex-direction: column;
    padding: 5%;
    border: transparent;
    border-radius: 7px;
}
.button_{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input_{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.calculator{
    display: flex;
    color: wheat;
    background: #0085FF;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    padding: 2%;
    margin: 20px;
    border: transparent;
    border-radius: 6px;  
}
.clean{
    display: flex;
    color: wheat;
    background-color: #FF0000;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    padding: 2%;
    margin: 20px;
    border: transparent;
    border-radius:  6px;
}
input{
    display: flex;
    width: 48.5vh;
    padding: 3%;
    border: transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.resultado  {
    display: flex;
    flex-direction: column;
    color: black;
}
h2{
    color: black;
}