li.I {
    color: rgb(2, 2, 90);
}

li.II {
    color: rgb(36, 36, 126);
}

li.III {
    color: rgb(53, 53, 138);
}

li.IV {
    color: rgb(80, 80, 175);
}
li.V {
    color: rgb(121, 121, 182);
}
